@page "/"

<PageTitle>Home</PageTitle>

<h1>Todays Agenda!</h1>

- Create simple page todo using C# for future use
- Push this Visual Studio project to github
- Connect to remote repo using VS Code
- Identify difference in files and structure
- Use computer one with VS to add more projects, Connected Services , and 
Azure Functions to the solution. 
- What 'resources' need to be added to correctly connect OracleDB and how will
it differ from a kubernetes project?
- To free up resources on computer one, use computer two with VS code to 
pull from repo, run project and view changes. (Asus Laptop running Win is not the best) 
- WebOTS launches local browser portal to view controller. How can this be applied to
the current project? When clicking on device/robot in Interactive fleet manager, redirect 
to controller viewer or hud?
- Ros2 projects include spacecraft, rover, and satellites. Future integration easier?
- Project is oriented to use a device (glasses, helmet, robofleet) to detect quantum stealth.
What are other potential uses for this project?
- Why choose blazor frontend over react for this project? .NET can be used for both frontend and backend, 
  and it is easier to maintain a single codebase. Blazor also allows for C# code sharing between client and server.
