@page "/"

<PageTitle>Home</PageTitle>

<h1>Todays Agenda!</h1>

- Create simple page todo using C# for future use
- Push this Visual Studio project to github
- Connect to remote repo using VS Code
- Identify difference in files and structure
- Use computer one with VS to add more projects, Connected Services , and 
  Azure Functions to the solution. 
- What 'resources' need to be added to correctly connect OracleDB and how will
it be different from a kubernetes project?
- To free up resources on computer one, use computer two with VS code to 
pull from repo, run project and view changes. (Asus Laptop running Win is not the best) 
