@page "/"

<PageTitle>Home</PageTitle>

<style>
    .agenda-list p {
        line-height: 1;
        margin-bottom: 0.5em;
    }
</style>

<h1>Todays Agenda!</h1>

<div class="agenda-list">
    <a href="https://learn.microsoft.com/en-us/dotnet/aspire/messaging/kafka-integration?tabs=dotnet-cli" class="btn btn-primary mb-3">Kafka</a>
    <p>- Identify difference in files and structure</p>
    <p>- Use computer one with VS to add more projects, Connected Services , and 
    Azure Functions to the solution.</p>
    <p>- What 'resources' need to be added to correctly connect OracleDB and how will
    it differ from a kubernetes project?</p>
    <p>- WebOTS launches local browser portal to view controller. How can this be applied to
    the current project? When clicking on device/robot in Interactive fleet manager, redirect 
    to controller viewer or hud?</p>
    <p>- Ros2 projects include spacecraft, rover, and satellites. Future integration easier?</p>
    <p>- Project is oriented to use a device (glasses, helmet, robofleet) to detect quantum stealth.
    What are other potential uses for this project?</p>
    <p>- Why choose blazor frontend over react for this project? .NET can be used for both frontend and backend, 
      and it is easier to maintain a single codebase. Blazor also allows for C# code sharing between client and server.</p>
</div>

<img src="/fb.png" />