<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Saturn</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Todo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FleetManager">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> FleetManager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FleetManager1">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> FleetManager1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="controller">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Controller
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AirPressureSensor">
                <span class="bi bi-list-nested" aria-hidden="true"></span> AirPressureSensor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DistaneSensor">
                <span class="bi bi-list-nested" aria-hidden="true"></span> DistanceSensor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PositionSensor">
                <span class="bi bi-list-nested" aria-hidden="true"></span> PositionSensor
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="RotationalMotor">
                <span class="bi bi-list-nested" aria-hidden="true"></span> RotationalMotor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

    </nav>
</div>
