@page /adminexam/examindex
@rendermode InteractiveServer

<PageTitle>Exam Index</PageTitle>

<h1>Exam Index</h1>
<a href="Aspire.Web/Components/Pages/adminexam/Az/readme.md" class="btn btn-primary">Azure</a>
<a href="/adminexam/Aws" class="btn btn-primary">AWS</a>
<a href="Aspire.Web/Components/Pages/adminexam/gcp/Gcppca.razor" class="btn btn-primary">GCP</a>
<a href="/adminexam/Aspire.Web/Components/Pages/adminexam/oci/imgbuilder.razor" class="btn btn-primary">OCI</a>
<a href="Aspire.Web/Components/Pages/adminexam/kube/Cka.razor" class="btn btn-primary">Kube</a>
